body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.navbar {
    background-color: #3f3f3f;
    color: white;
    padding: 15px 10px;
    text-align: center;
    font-weight: 400;
    position: relative;
    margin-bottom: 20px;
    text-indent: 15px;
}

.back-arrow {
    position: absolute;
    left: 170px;
    top: 15px;
    font-size: 20px;
    cursor: pointer;
}

.login-container {
    max-width: 350px;
    margin: 120px auto 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
}

.login-btn {
    position: relative;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding: 10px;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.login-btn img.icon {
    width: 30px;
    height: auto;
    position: absolute;
    left: 10px;
}


.facebook {
    background-color: #4267B2;
}

.line {
    background-color: #00B200;
}

.divider {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    height: 1px;
    background: #ccc;
    margin: 0 10px;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #444;
}

.input-group input {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #3f3f3f;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn i {
    margin-left: 8px;
}

.required-star {
    color: red;
}

.extra-links1 a {
    color: #007bff;
    text-decoration: none;
}

.extra-links1 a:hover {
    text-decoration: underline;
}

.extra-links2 a {
    color: #007bff;
    text-decoration: underline;
}